storage:
  type: "memory"

repository:
  - remote: {{.Remote}}
    default_branch: "main"
{{- if .BazelCommand}}
    bazel_command_path: {{.BazelCommand}}
{{- end}}
    bzlmod_enabled: true
    query_timeout_seconds: 600

service:
  max_worker_pool_size: 2
  workspaces_root_path: {{.ClonePath}}
